@font-face {
  font-family: pangram;
  src: url('fonts/Pangram.ttf');
}
* {
  font-family: pangram;
}
/* ul{
 padding: -2;
} */
.navbar ul li {
  padding: 0px 0px;
}
.navbar ul li {
  margin: -6px -6px;
}

.nav {
  margin: 30px;
}

/* .p{
	margin-left: 30px;
} */
